html, body {
  margin: 0;
}

html {
  font-size: 16px;
  line-height: 1.33;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.box {
  display: flex;
  width: max-content;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  border: 1px solid black;
  border-radius: 16px;
}

header {
  padding: 4px 16px;

}

h1 {
  font-size: 64px;
}
